.App {
  text-align: center;
}
.inpt{
  border: none;
  background: #d6c7c7;
  color: greenyellow;
  box-shadow:  0 2px 4px 3px #320064;
}
.color{
  background: #46d79b;
  color: #320064;

}
.Bu{
  position:absolute;
  left:46vw;
  top: 40px;
  border: none;
  border-radius: 5px;
  color: black;
  margin: 5px;
  height: 25px;
  box-shadow: 0px 5px 10px rgba(38, 38, 38, 0.49);
  background: rgb(178, 185, 193);
}